/* Setting the font for the entire page */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Custom styling for the main content area */
main form {
  max-width: 500px; /* Limiting the width of the form */
  margin: auto; /* Centering the form horizontally */
}

/* Custom styling for the footer */
footer p {
  text-align: center; /* Centering the text within the footer */
}
  
.display-4{
  color: red
}